/*--------------------START/Header----------------------*/
.Header-Container{
    padding-bottom: 10px;
}
.Header-Container-Small{
    width: 100%;
    min-height: 80px;
    max-height: 120px;
    background-color: #fafafa;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.Header-Main-Logo{
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/
}

.User-Name{
    color: #009688;
    font-weight: 100;
    text-decoration: none;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}
.Logout-btn{
    color: #009688;
    float: right;
    margin-top: 20px;

}
.Logout-btn span{
    font-weight: 100;
}

/*--------------------------END/Header---------------*/




/*------------START - <Programmer FOOTER> - START----------*/
.Footer-Container{
    width: 100%;
    height: 200px;
    background-color: #fafafa;
}
.Footer-Container h3{
    color: silver;
    margin: 50px;
}


/*------------END - <PROGRAMMER FOOTER> - END----------*/

